
    header img {
    
    border: 10px solid #ccc;
    
    }
    header{
        background-image: url("gory.jpg");
        background-size: cover;
        background-repeat: no-repeat center;
    }
  
    .box{
      position: relative;
      text-align: center;
     margin: 100px;
      background: transparent;
      background: rgb(249, 249, 249);
      border: 1px solid #fff;
      border-top-left-radius: 20px;
      border-bottom-right-radius: 20px;
      opacity:0.7;
      z-index:1;
      
    }
    

    .box h1{
      color:#0a0606;
    }
    .box h2 {
      color:#0e0606;
     
    }

    .box h3 {
      color:#0a0606;
    }*/
    
    
    h3 {
      
  color: #333;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    }


 /*Add a black background color to the top navigation bar*/
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  
}

/* Style the links inside the navigation bar*/
.topnav a {
  float: left; 
 width: 15%;
  display: block;
  color: black;
  text-align: center;
 padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

/* Change the color of links on hover*/
.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/*When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 800px) {
  /*.topnav a, .topnav input[type=text]{
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
    
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }*/
  .menu_icons
{
  color: white;
  font-size: 1.5rem;
  border: 1px solid white;
  padding: 0.2rem 1.2rem;
  border-radius: 3px;
  margin: 1rem;
  float:right;
  cursor: pointer;
  display: none;

}
}


    /* Style the navigation menu */
   .topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    width: 100%;
  }
  
  
  /* Style navigation menu links */
  .topnav a {
    
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    
  }

    header img:hover {
    border-color: black;
    transition: 1s;
    
    }

    
    @media(max-width:800){
        div{
            width:100%;
      }

    }
 
   
    
    section span {
display: inline-block;
        color:#78dfe4;
    border: 1px solid #333;
    padding: 5px 8px;
    margin: 2px;
    border-radius: 8px;
    font-size: 1 rem;
    
    }
